p {
    line-height:1.5em;
    margin:0 0 1.0ex;
}

.wy-nav-content {
  max-width: 1024px;
}

.rst-content code {
  color: #080;
}

.rst-content blockquote{
  padding: 0 1em;
  margin-left: 1em;
  margin-bottom: 0;
  border-left: .25em solid;
}

.hljs-comment, .hljs-quote
{
  color: #080;
  font-style: normal;
}
