p {
    line-height:1.5em;
    margin:0 0 1.0ex;
}

.wy-nav-content {
  max-width: 1024px;
}

.rst-content code {
  color: #080;
}

.hljs-comment, .hljs-quote
{
  color: #080;
  font-style: normal;
}
